@charset "UTF-8";
/* CSS Document */

body{
	margin: 0px;
	padding: 0px;
	height:100%;
	background: #FFFFFF;
	font-size:12px;
	line-height:16px;
}

.container{

	width: 1200px;
	position:relative;

	height: auto;
	margin: 0px auto;
}

.container a{
text-decoration: none;
}



.divheader{
	width:100%;
	height:135px;
	background-color:#FFFFFF;
}

a{
text-decoration: none;
}

p {




}



.divheader a{
	text-decoration: none;
	border:0px;
	color:#FFFFFF;
}
.divheader a:hover{
	text-decoration: underline;
	border:0px;

}
.divheader a:visited{
	text-decoration: none;
	border:0px;
}

.header--logo {
	display: block;
	margin-top: 50px;
}

#divsubimagewide{
	width:100%;
	height:auto;
	float:left;
}

#divfornavi{
	width:38%;
	margin:55px 0 0 0;
	height:88px;
	float:right;
	background-color:#FFFFFF;
}


#divsearchnavi{
	width:292px;
	height:40px;
	float:left;
	background-image:url(/images/findsearch.jpg);
	background-repeat:no-repeat;
}

.divcontentintro{
	margin-top: 15px;
	width:100%;
	height:auto;
	float:left;
}

.divcontentin{
	margin: 0 0 0 5px;
	width:71%;
	height:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	color:#999999;

}
.divcontentin a{
	font-weight:bold;
	color:#555555;
}

.divcontentin a:hover{
	font-weight:bold;
	color:#999999;
}

.divcontentPJCTS{
	margin: 20px 0 0 5px;
	padding: 0 2% 0 0;
	width:71%;
	height:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	color:#999999;
	background-color:#FFFFFF;
	border:solid #CCCCCC;
	line-height:20px;
border-right-width:1px;
border-top:thin;
border-left:thin;
border-bottom:thin;
}

.divcontentPJCTS a{
	color:#555555;
}

.divcontentPJCTS a:hover{
	color:#999999;
}



.divcontent{
	margin: 7px 0 0 5px;
	padding: 0 2% 0 0;
	width:71%;
	height:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	color:#999999;
	background-color:#FFFFFF;
	border:solid #CCCCCC;
	line-height:20px;
border-right-width:1px;
border-top:thin;
border-left:thin;
border-bottom:thin;
}

.divcontent a{
	color:#555555;
}

.divcontent a:hover{
	color:#999999;
}





.divcontentintro h2{
	font-family: 'HelveticaNeue-UltraLight','Helvetica Neue UltraLight', 'Helvetica Neue Ultra Light', 'HelveticaNeueUltraLight', 'HelveticaNeue-Ultra-Light', 'Helvetica Neue Ultra Light', 'HelveticaNeue', 'Helvetica Neue', 'TeXGyreHerosCnRegular', 'Arial Narrow', 'Arial', sans-serif;
	font-weight:100;
	color:#0d3692;
	font-size:30px;
	font-stretch:condensed;
}

.divcontentintro p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#999999;
}



.divwrappermid{

width:100%;
height:auto;
float:left;
}

.divleftcontent{
margin-left:175px;
width: 133px;
height:auto;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
float:left;
color:#0d3692;
}
.divleftcontent a{
text-decoration:none;
color:#0d3692;
}
.divleftcontent a:hover{
text-decoration:underline;
color:#0d3692;
}
.divleftcontent a:visited{
color:#0d3692;
}

#divhline{
height:100%;
width:2px;
background-color:#8da0cc;
float:left;
}

.divmiddlecontent{
width: 658px;
height:auto;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
float:left;
background-image:url(/images/mid_contentbg.jpg);
}

.divmiddlecontent p1{
line-height:5px;
}

.divmiddlecontent a{
text-decoration:none;
color:#0d3692;
}
.divmiddlecontent a:hover{
text-decoration:underline;
color:#0d3692;
}

.divmiddlecontent a:visited{
color:#0d3692;
}

.divmiddleLcolumn{
margin:0 2% 0 4%;
margin-left:4%;
margin-right:2%;
width: 44%;
height:auto;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
float:left;
}
.divmiddleRcolumn{
margin:0 4% 0 2%;
width: 44%;
height:auto;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
float:left;
}

.divrightcontent{
width:228px;
height:auto;
float:left;
margin:7px 0 0 25px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;

line-height:22px;
float:left;
color:#555555;
}

.divrightcontent a{
color:#555555;
}
.divrightcontent a:hover{
color:#0070ba;
}




.divcontentintro p{
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:14px;
	line-height:20px;
}

.divstylesitemap{
	float:left;
	margin-top:20px;
	width:100%;
	height:20px;
	font-family:Helvetica, sans-serif;
	color:#6c86bf;
	font-size:10px;
}

.divstylesitemap a{
	text-decoration:none;
	color:#999999;
	font-size:10px;
}
.divstylesitemap a:hover{
text-decoration:underline;
	color:#999999;
	font-size:10px;
}



.divSitemap{
	color:#6c86bf;
	font-size:10px;
}

.divSitemap a{
	text-decoration:none;
	color:#6c86bf;
	font-size:10px;
}
.divSitemap a:hover{
text-decoration:underline;
	color:#6c86bf;
	font-size:10px;
}
.divSitemap a:visited{
	color:#6c86bf;
	font-size:10px;
	font-weight:bold;
}

.divprojectnavi{
padding: 0 9% 0 0;
font-weight:bold;
color:#555555;
float:left;
width:auto;
}

.divprojectnavi a{
color:#555555;
}

.divprojectnavi a:hover{
color:#0070ba;
}
.divprojectnavi a:visited{

}
#divthumbnailcontainer{
width:311px;
height:459px;
background-image:url(/images/bggallery.jpg);
float:left;
padding: 7px 0 0 7px;"
}

#divthumbnail{
width:auto;
height:auto;
float:left;
margin:3% 0 0 6%;
}

#divthumbnail img{
border:solid;
border-color:#ffffff;

}

#divthumbnail:hover img{
border:solid;
border-color:#0070ba;
}






<!--START divbuttonnavijavascript-->

#divbuttonnavi55{
	width:119px;
	height:40px;
	float:right;
	background-image:url(/images/bg_smallline.jpg);
	background-repeat:repeat-x;
}

#divbuttonnavi{
	width:100%;
	float:right;
	background-color:#FFFFFF;
	margin: 0;
	padding: 0;
	z-index: 30
}

#divbuttonnavi li
{
	margin: 5% 0 0 38px;
	padding: 0;
	list-style: none;
	float: right;
	font:  12px arial}

#divbuttonnavi li a
{	display: block;
	padding: 0 0 20px 0;
	background-color:#FFFFFF;
	color: #555555;
	text-align: center;
	text-decoration: none}

#divbuttonnavi li a:hover
{	color: #0070ba;}

#divbuttonnavi div
{	position: absolute;
	visibility: hidden;
	float:left;
	margin: -11px 0 0 -15px;
	padding: 0;
	background: #FFFFFF;
	border: 2px solid #FFFFFF }

	#divbuttonnavi div a
	{	position: relative;
		display: block;
		margin: 0;
		width:auto;
		padding: 6px 12px 6px 12px;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;

		background: #FFFFFF;
		color: #7e7e7e;
		font: 11px arial}

	#divbuttonnavi div a:hover
	{	background: #0070ba;
		color: #FFF}

<!--END divbuttonnavijavascript-->

<!--StartXsltSearchCSS-->

#xsltsearch {margin: 0; padding-bottom: 20px;}
#xsltsearch_navigation {text-align: center;}
#xsltsearch_navigation .disabled {color: #AAA;}
#xsltsearch_stats {color: #0070ba;}
#xsltsearch_results {padding: 10px 0 10px 0;}
#xsltsearch h2 {font-size: 150%;}
.xsltsearch_result p {margin: 0; padding: 0;}
.xsltsearch_result:hover {background: #f9f9f9;}
.divcontentin .xsltsearch_ordinal {font-weight: bold; font-size: 75%;}
.xsltsearch_title {font-weight: bold;}
.xsltsearch_score {font-size: 75%;}
p.xsltsearch_result_description {padding-bottom: 20px;}
.divcontentin .xsltsearch_description strong { background: #DDDDFF;} /* search term highlighting */






/* BLACK MARKED STYLING */

.home--container--hero {
	margin: 0 0 16px;
}

#divflashintro{
	width:100%;
	max-width: 900px;
	height:auto;
	display: inline-block;
	vertical-align: top;

}

#divflashintro > img {
	width: 100%;
	height: auto;
}

.home--container-logo {
	width: 300px;
	display: inline-block;
	vertical-align: top;
}

.home--container-logo > img {
	margin-bottom: 74px;
}

.home--container-logo > img:last-child {
	margin-bottom: 0;
}
























/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
.whitestyle {
color:#FFFFFF;
font-weight: normal;

}

