﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LanguagePicker.ascx.cs" Inherits="UmbSearch2.UserControls.LanguagePicker" %>
<asp:Label ID="lblLanguage" runat="server" Text="Label"></asp:Label>
